section{
	@extend %main-section;
	article.circuit{
		@extend %article-bg;
		@include box-sizing(border-box);
		padding: 20px;
		float:left;
		h4{
			text-align: center;
			text-transform: uppercase;
			font-size: 2rem;
			font-weight: bold;
			margin: 20px auto;
			@include single-text-shadow;
			@include breakpoint($tablet){
				font-size: 1.5rem;
			}
			@include breakpoint($mobile){
				font-size: 1.3rem;
			}
		}
		.circuit-first{
			float:left;
			.circuit-logo{
				width: 50%;
				float:left;
				margin-bottom: 20px;
				@include breakpoint($tablet){
					width:90%;
					text-align: center;
					float: none;
				}
				img{
					width: 80%;
				}
			}
			.circuit-bio{
				float:left;
				width: 50%;
				font-size: 0.9rem;
				@include breakpoint($tablet){
					margin: 0 auto;
					width:90%;
					float:none;
					font-size: 0.8rem;
				}
				li{
					border-bottom: 1px dashed $orange;
					&::before{
							margin-right: 10px;
						}
					&:nth-child(odd){
						color:$orange;
					}
				}
				.circuit-table{
					float:left;
					width:50%;
				}
				.circuit-datos{
					width:50%;
					float:right;
					text-align: right;
					margin-bottom: 20px;
				}
			}
		}
		.circuit-horarios{
			clear:both;
			margin: 20px auto;
			text-align: center;
			width:100%;
			table{
				font-size: 0.9rem;
				width:70%;
				margin: 0 auto;
				@include breakpoint($tablet){
					width:90%;
					font-size: 0.8rem;
				}
				@include breakpoint($mobile){
					font-size: 0.7rem;
					width: 95%;
				}
				th{
					border-bottom: 1px dashed $black;
					&:nth-child(odd){
						width: 50%;
						text-align: left;
						font-weight: bolder;
					}
					&:nth-child(even){
						width: 50%;
						text-align: right;
						color: $orange;
					}
				}
			}
		}
		h3{
			text-align: center;
			font-size: 1.5rem;
			margin-bottom: 20px;
			color:$black;
			@include single-text-shadow;
			@include breakpoint($tablet){
		  	font-size: 1.2rem;
	  	}
		}
		p{
			color:$white;
			padding: 10px;
			font-size:1rem;
			background: $black url(bg.png) top center repeat;
			@include breakpoint($tablet){
				font-size: 0.9rem;
			}
			@include breakpoint($mobile){
				font-size: 0.8rem;
			}
		}
		.rslides_container{
			//width:80%;
			margin: 0 auto;
			ul{
				width:80%;
				margin: 0 auto;
				li{
					img{
						width: 100%;
					}
				}
			}
		}
	}
}



