header{
	width:95%;
	//max-width: 1500px;
	margin: 20px auto;
	height: $height;
	background: $white;
	z-index: 2000;
	@include border-radius(25px);
	@include breakpoint($tablet){
		width:100%;
		margin: 0 auto;
		position: fixed;
		@include border-radius(0px);
	}
	.header-home{
		margin-left: 10px;
		img{
			float:left;
			height: 50px;
			margin-right: 15px;
		}
		h1{
			float:left;
			margin-top: 10px;
			color: $black;
			font-size: 1.4rem;
			@include breakpoint($tablet){
				font-size: 1.2rem;
			}
			@include breakpoint($mobile){
				font-size: 0.9rem;
			}
			&:hover{
				color:$orange;
			}
		}
	}
	#btn-menu{
		display: none;
		float:right;
		&:checked ~ .header-menu{
			@include breakpoint($tablet){
				@include transform(translateX(0%));
			}	
		}
	}
	label{
		cursor: pointer;
		font-size: 1.5rem;
		display: none;
		float:right;
		color: $black;
		&:hover{
			color: $orange;
		}
		@include breakpoint($tablet){
			display: block;
			margin-top: 5px;
			margin-right: 10px;
		}
	}
	.header-menu{
		float:right;
		font-size: 0.8rem;
		font-weight: bold;
		
		@include breakpoint($tablet){
			height: calc(100% - #{$height});
			position:fixed;
			top: 50px;
			left: 50;
			width: 100%;
			@include transform(translateX(-100%));
			@include transition(all .5s ease);
			overflow: scroll;
			
		}
		ul{
			background: $white;
			@include box-sizing(border-box);
			@include display-flex;
			@include border-right-radius(25px);
			@include border-bottom-radius(25px);
			@include breakpoint($tablet){
				display:block;
				background: $white;
				@include border-radius(0px);
			}
			a{
				color:$black;
				display: block;
				padding: 15px 8px;
				font-weight: bold;
				@include breakpoint($tablet){
					padding-left: 20px;
					border-bottom: 1px solid rgba($orange, 0.6);
				}
				&:hover{
					@extend %p-bg;
					color: $orange;
					font-weight: bold;
				}
				span{
					margin-left: 5px;
					@include breakpoint($tablet){
						float:right;
						padding-right: 25px;
					}
				}
			}
			ul.push{
				display: none;
				background: lighten($orange,40%);
				width: 20%;
				@include breakpoint($tablet){
					width:100%;
				}
				a{
					padding-left: 15px;
					@include breakpoint($tablet){
						padding-left: 40px;
						border-bottom: 1px solid rgba($orange, 0.6);
					}
					&.border-top{
						border-bottom: 1px solid $orange;
						&:hover{
							@include border-top-right-radius(25px);
							@include breakpoint($tablet){
								@include border-radius(0px);
							}
						}
					}
					&.border-bottom:hover{
						@include border-bottom-radius(25px);
						@include breakpoint($tablet){
							@include border-radius(0px);
						}
					}
				}
			}
			li:hover{
				ul{
					display: block;
					position: absolute;
					//@include border-radius(25px);
					@include breakpoint($tablet){
						display: none;
						position: static;
					}
				}
			}
		}
		
	}
}

a.private{
	&:hover{
		@include border-right-radius(25px);
		@include breakpoint($tablet){
			@include border-right-radius(0px);
		}
	}
}
